*{
	padding: 0px;
	margin: 0px;
}

body{
	background-image: url("../img/foret.jpg");
	background-size: cover;
	background-position: fixed;
}

.Annonceur{
	text-align: center;
	text-decoration: none;
}

div{
	text-align: center;
	text-decoration: none;
}


h1{
    color:#24f0ff;
}

#corps{
    width: 600px;
    color: #b5b5b5;
    margin-top: 20%;
    margin-right: auto;
    margin-left: auto;
    border: 2px #24f0ff solid;
    position: relative;
    background-repeat: no-repeat;

}


#corps:before {
    content: '';
    background: url('../img/foret.jpg') fixed 0 0;
    -webkit-filter: blur(5px);
           -moz-filter: blur(5px);
            -ms-filter: blur(5px);
             -o-filter: blur(5px);
                filter: blur(5px);
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;    
    z-index: -1;
}

.texte{
    padding: 20px;
    font-size: 35px;

}

#tp1{
	transition: 1s;
}

#tp1:hover{
	transform: scale(1.2);
}

#tp2{
	transition: 1s;
}

#tp2:hover{
	transform: scale(1.2);
}